<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.azhar.banksampah">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />

    <application
        android:allowBackup="false"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.BankSampah"
        android:usesCleartextTraffic="true"
        tools:targetApi="s">
        <activity
            android:name="com.mobile.banksampah.model.ModelDatabase"
            android:exported="false"
            tools:ignore="Instantiatable" />
        <activity
            android:name="com.mobile.banksampah.view.history.RiwayatAdapter"
            android:exported="false"
            tools:ignore="Instantiatable" />
        <activity
            android:name="com.mobile.banksampah.view.history.RiwayatActivity"
            android:exported="false" />
        <activity
            android:name="com.mobile.banksampah.view.jenis.JenisSampahActivity"
            android:exported="false" />
        <activity
            android:name="com.mobile.banksampah.view.input.InputDataActivity"
            android:exported="false" />
        <activity
            android:name=".view.history.RiwayatActivity"
            android:exported="true"
            tools:ignore="MissingClass" />
        <activity
            android:name=".view.input.InputDataActivity"
            android:exported="true"
            tools:ignore="MissingClass" />
        <activity
            android:name=".view.jenis.JenisSampahActivity"
            android:exported="true"
            tools:ignore="MissingClass" />
        <activity
            android:name=".view.main.MainActivity"
            android:exported="true"
            tools:ignore="MissingClass">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>